<h2>Agregar Nuevo Producto</h2>
<form id="form">
    <label for="name">Nombre:</label>
    <input type="text" id="name" placeholder="Producto" required>

    <label for="price">Precio:</label>
    <input type="number" id="price" placeholder="Precio" required>

    <label for="category">Categoría:</label>
    <select id="category" required>
        <option value="Frutos secos">Frutos secos</option>
        <option value="Mermeladas caseras">Mermeladas caseras</option>
        <option value="Aromaticas">Aromaticas</option>
        <option value="Condimentos">Condimentos</option>
    </select>

    <label for="description">Descripción:</label>
    <input type="text" id="description" placeholder="Descripción" required>

    <input type="submit" value="Enviar">
</form>

<ul id="products">
    {{#each products}}
        <li>{{this.name}} - ${{this.price}}</li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
